.num-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  margin-top: -1rem;
}

ion-button {
  font-weight: 900;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  --padding-start: 0;
  --padding-end: 0;
}

ion-icon {
  font-size: 2rem;
}

.normal{
  font-size: 23px;
}
