<div class="num-pad">
  <ion-button
    *ngFor="let num of numPad"
    (click)="onNumberClick(num)"
    [fill]="num === 'confirm' ? 'solid' : 'clear'"
    shape="round"
    [color]="num === 'confirm' ? 'primary' : 'secondary'"
    expand="block" [class]="num !== 'confirm' ? 'normal' : undefined"
  >
    <ng-container *ngIf="num !== 'clear' && num !== 'confirm'">{{
      num
    }}</ng-container>
    <ion-icon *ngIf="num === 'clear'" name="backspace-outline"></ion-icon>
    <ion-icon *ngIf="num === 'confirm'" name="checkmark-outline"></ion-icon>
  </ion-button>
</div>
