<section class="content-first">
  <div class="content-first-header flex-row">
    <ion-img src="../../../assets/svg/Oink.svg"></ion-img>
    <ion-label color="tertiary"
      >Para comenzar, por favor ingresa <b>tu número celular.</b>
    </ion-label>
  </div>
  <div class="content-first-line"></div>
  <div class="content-first-content">
    <ion-input 
    type="text" 
    [value]="formattedValue" 
    readonly 
    placeholder="(XXX - XXXXXX)"
    class="custom-input">
  </ion-input>
    <app-num-pad
      (numberClicked)="onNumberClicked($event)"
      (clearClicked)="onClearClicked()"
      (confirmClicked)="onConfirmClicked()"
    >
    </app-num-pad>
  </div>
</section>