.content-first{
  padding: 16px;
  &-header{
    justify-content: space-around;
    align-items: center;
    ion-img{
      width: 52px;
      height: 44px;
    }
    ion-label{
      padding-left: 16px;
      width: 80%;
      font-size: 14px;
    }
  }
  &-line{
    margin-top: 5%;
    height: 2px;
    background: var(--ion-color-primary);
  }
  &-content{
    ion-input.custom-input {
      --padding-start: 0.5rem;
      --padding-end: 0.5rem;
      --padding-top: 0.5rem;
      --padding-bottom: 0.5rem;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      margin-top: 1rem;
      .num-pad{
        margin-top: -2rem;
      }
    }
  }
}



