<ion-content [fullscreen]="true">
  <app-start *ngIf="load"></app-start>
  
  <section class="container-home" *ngIf="!load">
    <div class="container-home-port">
      <ion-img src="../../../assets/svg/coinkLogo.svg"></ion-img>
      <ion-text color="primary" class="ion-text-center">
        <h1>LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</h1>
      </ion-text>
    </div>
    <div class="container-home-buttons">
      <ion-button  routerLink="/content-page" shape="round">
        REGÍSTRATE
      </ion-button>
      <ion-button color="secondary" (click)="userRegister()" shape="round">
        INGRESA
      </ion-button>
    </div>
  </section>
</ion-content>
