.container-home {
  h1 {
    font-weight: 800;
    font-size: 18px;
  }
  ion-button {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
  }
  &-port {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ion-img {
      width: 125.97pt;
      height: 154.7pt;
    }
  }
}
