<ion-content [fullscreen]="true">
  <app-stepper-nav
    [activeStepper]="stepperInicial"
    [stepperTotales]="steppersTotales"
    [stateItemStepper]="stateStepper"
  >
  </app-stepper-nav>

  <app-first-step *ngIf="stepperInicial === 1" (next)="getStep($event)"> </app-first-step>
  <app-second-step *ngIf="stepperInicial === 2" (next)="getStep($event)"> </app-second-step>
  <app-third-step *ngIf="stepperInicial === 3"> </app-third-step>
</ion-content>
