h5,
h6 {
  font-size: 14px;
  color: var(--ion-color-secondary);
  font-weight: 600;
  margin-bottom: 0;
}
.content-data-user {
  padding: 16px;
  &-header {
    justify-content: space-around;
    align-items: center;
    ion-img {
      width: 62px;
      height: 70px;
    }
    &-content {
      h5 {
        font-size: 12px;
      }
      padding-left: 12px;
      ion-label {
        width: 80%;
        font-size: 12px;
      }
    }
  }
  &-line {
    margin-top: 5%;
    height: 2px;
    background: var(--ion-color-primary);
  }
  &-content {
    .item-native {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    input{
      border: 1px solid #cbcbcb;
      padding: 8px 6px;
      border-radius: 7px;
    }
  }
}
