<ion-content [fullscreen]="true">
  <section class="content-data-user">
    <div class="content-data-user-header flex-row">
      <ion-img src="../../../assets/svg/Oink.svg"></ion-img>
      <h5>TUS DATOS</h5>
    </div>
    <div class="content-data-user-line"></div>
    <div class="content-data-user-content">
      <ion-list *ngIf="formData$ | async as formData">
        <ion-item >
          <ion-label>Tipo de documento: {{ formData.documentType }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label
            >Número de documento: {{ formData.documentNumber }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            >Fecha de expedición del documento: {{ formData.documentDate | date:
            'MM/dd/yyyy' }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            >Fecha de nacimiento: {{ formData.birthDate | date: 'MM/dd/yyyy'
            }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label>Género: {{ formData.gender }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Correo electrónico: {{ formData.email }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </section>
</ion-content>
