<section class="content-second">
  <div class="content-second-header flex-row">
    <ion-img src="../../../assets/svg/Oink.svg"></ion-img>
    <div class="content-second-header-content">
      <h5>¿CUÁLES SON TUS DATOS?</h5>
      <ion-label color="tertiary"
        >Ahora necesitamos saber algunos datos tuyos
      </ion-label>
    </div>
  </div>
  <div class="content-second-line"></div>
  <div class="content-second-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <!-- TIPO DE DOCUMENTO -->
        <ion-item>
          <ion-select
            label="Tipo de documento"
            label-placement="floating"
            formControlName="documentType"
          >
            <ion-select-option
              *ngFor="let type of documentTypes"
              [value]="type.notation"
              >{{ type.notation }} - {{ type.description }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="
            form.get('documentType')?.invalid &&
            form.get('documentType')?.touched
          "
        >
          <p>Por favor seleccione un tipo de documento.</p>
        </ion-text>

        <!-- NUMERO DE DOCUMENTO  -->
        <ion-item>
          <ion-input
            label="Número de documento"
            label-placement="stacked"
            placeholder="1234567890"
            type="text"
            formControlName="documentNumber"
            maxlength="10"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="
            form.get('documentNumber')?.invalid &&
            form.get('documentNumber')?.touched
          "
        >
          <p>Número de documento inválido.</p>
        </ion-text>

        <!-- Fecha de expedición del documento -->
        <ion-item>
          <section>
            <div style="margin: 0.7rem 0 0.3rem 0">
              Fecha de expedición del documento
            </div>
            <div style="margin: 0 0 1rem 0">
              <input
                ion-input
                type="text"
                [value]="form.get('documentDate')?.value | date : 'MM/dd/yyyy'"
                readonly
                (focus)="showDocumentDatePicker = true"
                placeholder="MM/DD/YYYY"
              />
            </div>
          </section>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="
            form.get('documentDate')?.invalid &&
            form.get('documentDate')?.touched
          "
        >
          <p>Por favor seleccione una fecha de expedición.</p>
        </ion-text>
        <ion-datetime
          presentation="date"
          *ngIf="showDocumentDatePicker"
          displayFormat="MM/DD/YYYY"
          (ionChange)="onDateSelected($event, 'documentDate')"
          (ionCancel)="showDocumentDatePicker = false"
        ></ion-datetime>

        <!-- Fecha de nacimiento -->
        <ion-item class="flex-column">
          <section>
            <div style="margin: 0.7rem 0 0.3rem 0">Fecha de nacimiento</div>
            <div style="margin: 0 0 1rem 0">
              <input
                ion-input
                type="text"
                [value]="form.get('birthDate')?.value | date : 'MM/dd/yyyy'"
                readonly
                (focus)="showBirthDatePicker = true"
                placeholder="MM/DD/YYYY"
              />
            </div>
          </section>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="
            form.get('birthDate')?.invalid && form.get('birthDate')?.touched
          "
        >
          <p>Por favor seleccione una fecha de nacimiento.</p>
        </ion-text>
        <ion-datetime
        color="rose"
          presentation="date"
          *ngIf="showBirthDatePicker"
          displayFormat="MM/DD/YYYY"
          (ionChange)="onDateSelected($event, 'birthDate')"
          (ionCancel)="showBirthDatePicker = false"
        ></ion-datetime>

        <!-- GENERO -->
        <ion-item>
          <ion-select
            label="Género"
            label-placement="floating"
            formControlName="gender"
          >
            <ion-select-option
              *ngFor="let gender of genders"
              [value]="gender.name"
              >{{ gender.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="form.get('gender')?.invalid && form.get('gender')?.touched"
        >
          <p>Por favor seleccione un género.</p>
        </ion-text>

        <!-- CORREO ELECTRONICO -->
        <ion-item>
          <ion-input
            label="Correo electrónico"
            label-placement="stacked"
            placeholder="example.email@gmail.com"
            type="email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        >
          <p>Correo electrónico inválido.</p>
        </ion-text>

        <!-- CONFIRM CORREO -->
        <ion-item>
          <ion-input
            label="Confirmar correo electrónico"
            label-placement="stacked"
            placeholder="example.email@gmail.com"
            type="email"
            formControlName="confirmEmail"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="
            form.get('confirmEmail')?.invalid &&
            form.get('confirmEmail')?.touched
          "
        >
          <p>Correo electrónico inválido.</p>
        </ion-text>
        <ion-text
          color="danger"
          *ngIf="
            form.errors?.['emailMismatch'] && form.get('confirmEmail')?.touched
          "
        >
          <p>La confirmación del correo electrónico no coincide.</p>
        </ion-text>

        <!-- PIN 1 -->
        <ion-item>
          <ion-input
            label="PIN de seguridad"
            label-placement="stacked"
            type="password"
            formControlName="pin"
          ></ion-input>
          <ion-icon
            name="eye"
            slot="end"
            (click)="togglePasswordVisibility('pin')"
          ></ion-icon>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="form.get('pin')?.invalid && form.get('pin')?.touched"
        >
          <p>PIN de seguridad inválido.</p>
        </ion-text>

        <!-- PIN CONFIRM -->
        <ion-item>
          <ion-input
            label="Confirmar PIN de seguridad"
            label-placement="stacked"
            type="password"
            formControlName="confirmPin"
          ></ion-input>
          <ion-icon
            name="eye"
            slot="end"
            (click)="togglePasswordVisibility('confirmPin')"
          ></ion-icon>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="
            form.get('confirmPin')?.invalid && form.get('confirmPin')?.touched
          "
        >
          <p>La confirmación del PIN no coincide.</p>
        </ion-text>
      </ion-list>

      <ion-button expand="block" type="submit" [disabled]="form.invalid"
        >Siguiente</ion-button
      >

      <ion-loading
        [isOpen]="loading"
        message="Por favor, espere..."
      ></ion-loading>
    </form>
  </div>
</section>
