// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@mixin flex{
  display: flex;
}

.flex-column{
  @include flex();
  flex-direction: column;
}

.flex-row{
  @include flex()
}
