.section-card{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--ion-color-medium);
}

.card{
  align-items: center;
  justify-content: space-around;
  height: 60%;
  ion-img.coink{
    width: 180px !important;
    margin-top: 20px;
  }
  &-content{
    text-align: center;
    h4{
      color: var(--ion-color-secondary);
      font-weight: 800;
    }
  }
}