<ion-content [fullscreen]="true">
  <section class="section-card flex">
    <ion-card class="card flex-column">
      <ion-img alt="Coink" src="../../../assets/svg/marrano regalo.svg" class="coink"></ion-img>
      <ion-card-content class="card-content">
        <h4>¡Bienvenido a Coink!</h4>
        <p>
          ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces
          a ahorrar!
        </p>
        <ion-button color="primary" shape="round" routerLink="/user-data">
          Continuar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
