@mixin display-flex-alCenter {
  display: flex;
  align-items: center;
}

@mixin center-item {
  justify-content: center;
  align-items: center;
}

section.container-stepper {
  @include display-flex-alCenter();
  @include center-item();
  box-shadow: 0px 0px 4px 1px var(--ion-color-success);
  .header {
    width: 100%;
    &-title {
      padding: 20px 15px 0 15px;
      display: flex;
      align-items: center;
      text-align: center;
      ion-button {
        margin-left: -10%;
        margin-right: 10%;
      }
      ion-label {
        font-weight: 700;
      }
    }
    &-step {
      @include display-flex-alCenter();
      @include center-item();
      align-self: center;
      width: 80%;
      margin-top: -6%;
      ion-grid.stepper-nav {
        ion-row {
          max-width: 700px;
          div.icon-stepper {
            width: 25px;
            height: 25px;
            border: 2px solid var(--ion-color-success);
            border-radius: 100px;
            @include display-flex-alCenter();
            @include center-item();
          }

          .line {
            @include center-item();
            &-h {
              height: 1px;
              width: 100%;
              border: 1px solid var(--ion-color-success);
            }
          }

          .icon-stepper.active {
            border: 2px solid var(--ion-color-primary);
            .icon-stepper-active {
              width: 80%;
              height: 80%;
              border-radius: 100px;
              background: var(--ion-color-primary);
            }
          }
          .checkItem {
            background: var(--ion-color-primary);
          }

          ion-label {
            font-size: 12px;
            margin: 0;
            line-height: 1em;
          }

          ion-col {
            @include display-flex-alCenter();
            flex-direction: column;
            text-align: center;
          }
        }
      }
    }
  }
}
