<section class="container-stepper">
  <div class="header flex-column">
    <div class="header-title flex">
      <ion-button fill="clear">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-label color="secondary" *ngIf="activeStepper === 1"
        >NÚMERO CELULAR</ion-label
      >
      <ion-label color="secondary" *ngIf="activeStepper === 2"
        >DATOS DE CUENTA</ion-label
      >
      <ion-label color="secondary" *ngIf="activeStepper === 3"
        >FINALIZAR</ion-label
      >
    </div>

    <div class="header-step">
      <ion-grid class="stepper-nav">
        <ion-row>
          <ion-col size="2">
            <div
              class="icon-stepper active"
              [ngClass]="{ checkItem: stateItemStepper === 'correct' }"
            >
              <div class="icon-stepper-active"></div>
            </div>
          </ion-col>

          <ion-col size="3" class="flex line">
            <div class="line-h"></div>
          </ion-col>

          <ion-col size="2">
            <div
              class="icon-stepper"
              [ngClass]="{
                active: activeStepper >= 2,
                checkItem: stateItemStepper === 'correct' && activeStepper >= 2
              }"
            >
              <div class="icon-stepper-active"></div>
            </div>
          </ion-col>

          <ion-col size="3" class="flex line">
            <div class="line-h"></div>
          </ion-col>

          <ion-col size="2">
            <div
              class="icon-stepper"
              [ngClass]="{
                active: activeStepper >= 3,
                checkItem: stateItemStepper === 'correct' && activeStepper === 3
              }"
            >
              <div class="icon-stepper-active"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</section>
