<section class="content-first">
  <div class="content-first-header flex-row">
    <ion-img src="../../../assets/svg/OinkPolicia.svg"></ion-img>
    <div class="content-first-header-content">
      <h5>ESTAS MUY CERCA DE SER PARTE DE COINK.</h5>
      <ion-label color="tertiary"
        >Solo es necesario que leas detenidamente el contrato que se encuentra
        al final de esta pantalla y lo aceptes.
      </ion-label>
    </div>
  </div>
  <div class="content-first-line"></div>
  <div class="content-first-content">
    <h5>LO MÁS IMPORTANTE</h5>
    <p>
      Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona
      natural que de acuerdo con nuestra legislación vigente te encuentres en
      plena capacidad para adquirir derechos y contraer obligaciones.
    </p>
    <p>
      Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo
      hasta por 8 salarios mínimos en el mes y realizar débitos por el mismo
      valor. Si deseas sobrepasar estos límites debes solicitarnos la apertura
      de un Depósito Ordinario COINK Persona Natural.
    </p>
    <p>
      Solo puedes tener una cuenta COINK de Bajo Monto y podrás utilizar tu
      dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus
      transacciones y administrar tu cuenta.
    </p>
    <p>
      Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.
    </p>
    <h6>Lee tu contrato</h6>
    <ion-checkbox labelPlacement="end" (ionChange)="checkStatus($event)">He leído ya acepto el contrato</ion-checkbox>
    <ion-button
      color="primary"
      (click)="finishProcess()"
      expand="block"
      shape="round"
    >
      ACEPTAR
    </ion-button>
  </div>
</section>
