h5,
h6 {
  font-size: 14px;
  color: var(--ion-color-secondary);
  font-weight: 600;
  margin-bottom: 0;
}
.content-first {
  padding: 16px;
  &-header {
    justify-content: space-around;
    align-items: center;
    ion-img {
      width: 72px;
      height: 64px;
    }
    &-content {
      width: 70%;
      ion-label {
        width: 80%;
        font-size: 12px;
      }
    }
  }
  &-line {
    margin-top: 5%;
    height: 2px;
    background: var(--ion-color-primary);
  }
  &-content {
    h6 {
      text-decoration: underline;
      font-weight: 800;
    }
    p {
      color: var(--ion-color-tertiary);
      font-size: 13px;
      margin: 0.5rem 0rem;
    }
    ion-checkbox {
      color: var(--ion-color-secondary);
      margin-top: 0.7rem;
      font-size: 13px;
      --size: 20px;
      --checkbox-background-checked: var(--ion-color-primary);
    }
    ion-checkbox::part(container) {
      border-radius: 6px;
      border: 2px solid var(--ion-color-primary);
    }
  }
}
