/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";


:root {
	--ion-color-primary: #1EEA00;
	--ion-color-primary-rgb: 30,234,0;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #1ace00;
	--ion-color-primary-tint: #35ec1a;

	--ion-color-secondary: #004B40;
	--ion-color-secondary-rgb: 0,75,64;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #004238;
	--ion-color-secondary-tint: #1a5d53;

	--ion-color-tertiary: #757575;
	--ion-color-tertiary-rgb: 117,117,117;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #676767;
	--ion-color-tertiary-tint: #838383;

	--ion-color-success: #AAAAAA;
	--ion-color-success-rgb: 170,170,170;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #969696;
	--ion-color-success-tint: #b3b3b3;

	--ion-color-warning: #EEEEEE;
	--ion-color-warning-rgb: 238,238,238;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d1d1d1;
	--ion-color-warning-tint: #f0f0f0;

	--ion-color-danger: #FF0000;
	--ion-color-danger-rgb: 255,0,0;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e00000;
	--ion-color-danger-tint: #ff1a1a;

	--ion-color-light: #1EEB00;
	--ion-color-light-rgb: 30,235,0;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #1acf00;
	--ion-color-light-tint: #35ed1a;
	
	--ion-color-medium: #00000033;
	--ion-color-medium-rgb: 0,0,51;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #00002d;
	--ion-color-medium-tint: #1a1a47;

	--ion-color-dark: #212121;
	--ion-color-dark-rgb: 33,33,33;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #1d1d1d;
	--ion-color-dark-tint: #373737;

}

.ion-color-green {
  --ion-color-base: var(--ion-color-warning);
  --ion-color-base-rgb: var(--ion-color-warning-rgb);
  --ion-color-contrast: var(--ion-color-warning-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb);
  --ion-color-shade: var(--ion-color-warning-shade);
  --ion-color-tint: var(--ion-color-warning-tint);
}

ion-datetime {
  --background: #ccf9d2;
  --background-rgb: 255, 241, 242;

  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-warning-rgb), 0.3) 0px 10px 15px -3px;
}